body
  font-family: "PF BeauSans Pro", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  color: $primary-color
  margin: 0

.lock-scroll
  overflow: hidden

h1.page-title
  margin: 42px 0 25px 0
  font-weight: 600
  font-size: 30px
  line-height: 1.1

h1.page-title-no-gutters
  margin: 0
  font-weight: 600
  font-size: 30px
  line-height: 1.1

h1.title, h2.title
  font-weight: 600
  font-size: 30px
  margin: 0 0 28px

h1.title, h2.title, h1.page-title, h1.page-title-no-gutters
  @include media-breakpoint-down(md)
    text-align: center


a
  color: $primary-color
  text-decoration: none
  transition: color .25s ease, stroke .25s ease, fill .25s ease, box-shadow .25s ease !important
  &:hover,
  &.current
    color: $orange-color

input.ifort-input
  &:focus
    outline: none
    border-color: $orange-color

button
  &:focus
    outline: none

.btn-yellow
  padding: 15px 18px
  font-size: 15px
  font-weight: 600
  background: linear-gradient(352.52deg, #FFC700 12.56%, #FFE300 72.49%), #FF5200
  box-shadow: 0px 4px 25px rgba(255, 227, 0, 0.5)
  border-radius: 15px
  display: inline-flex
  align-items: center
  border: 0
  border: 1px solid $orange-color
  &:hover
    color: $primary-color
  .icon
    font-size: 8px
    margin-left: 8px

.btn-orange
  display: inline-block
  padding: 15px 18px
  font-size: 15px
  font-weight: 600
  background: #FF5200
  border-radius: 15px
  color: #fff
  border: 0
  cursor: pointer
  &:hover
    color: #fff

.btn-white
  display: inline-block
  padding: 15px 18px
  font-size: 15px
  font-weight: 600
  border: 1px solid $orange-color
  border-radius: 15px
  background-color: #fff
  cursor: pointer
  &:hover
    color: currentColor

.ifort-separator
  display: block
  height: 1px
  width: 100%
  background-color: #D7D7D7
