.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-advantage-choice {
	font-size:(47/10)*1rem;
	width:(47/47)*1em;
}
.icon-advantage-delivery {
	font-size:(43/10)*1rem;
	width:(59/43)*1em;
}
.icon-advantage-gift {
	font-size:(41/10)*1rem;
	width:(54/41)*1em;
}
.icon-advantage-staff {
	font-size:(53/10)*1rem;
	width:(50/53)*1em;
}
.icon-advantage-warranty {
	font-size:(51/10)*1rem;
	width:(38/51)*1em;
}
.icon-arrow-down {
	font-size:(5/10)*1rem;
	width:(8/5)*1em;
}
.icon-arrow-left {
	font-size:(15/10)*1rem;
	width:(8/15)*1em;
}
.icon-arrow-long-right {
	font-size:(8/10)*1rem;
	width:(19/8)*1em;
}
.icon-arrow-right {
	font-size:(15/10)*1rem;
	width:(8/15)*1em;
}
.icon-arrow-up {
	font-size:(8/10)*1rem;
	width:(16/8)*1em;
}
.icon-card-mir {
	font-size:(12/10)*1rem;
	width:(43/12)*1em;
}
.icon-card-visa {
	font-size:(14/10)*1rem;
	width:(41/14)*1em;
}
.icon-city {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-clocks {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-clocks2 {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-envelope {
	font-size:(13/10)*1rem;
	width:(17/13)*1em;
}
.icon-header-cart {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-header-compare {
	font-size:(23/10)*1rem;
	width:(24/23)*1em;
}
.icon-header-favorite {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-ifort-arrow {
	font-size:(13/10)*1rem;
	width:(27/13)*1em;
}
.icon-item-cart {
	font-size:(21/10)*1rem;
	width:(24/21)*1em;
}
.icon-item-compare {
	font-size:(18/10)*1rem;
	width:(19/18)*1em;
}
.icon-item-favorite {
	font-size:(17/10)*1rem;
	width:(20/17)*1em;
}
.icon-mastercard {
	font-size:(19/10)*1rem;
	width:(30/19)*1em;
}
.icon-mc_vrt_pos {
	font-size:(120.41/10)*1rem;
	width:(146.8/120.41)*1em;
}
.icon-phone {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-phone-mobile {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-search {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-select {
	font-size:(5/10)*1rem;
	width:(9/5)*1em;
}
.icon-user {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-vk {
	font-size:(29/10)*1rem;
	width:(28/29)*1em;
}
.icon-youtube-logo {
	font-size:(38/10)*1rem;
	width:(38/38)*1em;
}
.icon-zoom-in {
	font-size:(43/10)*1rem;
	width:(43/43)*1em;
}
