.footer
  &__wrap
    padding-top: 60px
    padding-bottom: 20px
    @include make-row()
    // display: flex
    // justify-content: space-between
    // flex-wrap: wrap
  &__left-area
    order: 1
    @include make-col-ready()
    @include make-col(3)
    @include media-breakpoint-down(md)
        @include make-col(6)
    @include media-breakpoint-down(sm)
        @include make-col(12)
    //min-width: 300px
  &__center-area
    order: 2
    flex-grow: 1
    @include media-breakpoint-down(md)
      display: none

  &__right-area
    order: 3
    // text-align: right
    display: flex
    flex-direction: column
    align-items: flex-end
    @include make-col-ready()
    @include make-col(3.5)
    @include media-breakpoint-down(md)
        @include make-col(6)
    @include media-breakpoint-down(sm)
        @include make-col(12)
        align-items: flex-start
        margin-top: 10px
  &__search
    width: 100%
  &__right-area-aligner
    display: inline-block
  &__logo
    margin-bottom: 45px
  &__contacts
  &__copyright-area
  &__social
    margin: 35px 0 25px 0



.footer-contacts
  &__contact
    // &.footer-contacts__contact_centered
    //   display: flex
    //   align-items: center
    //   justify-content: center
    //   position: static
    //   .footer-contacts__contact-icon
    //     float: none
    //   .footer-contacts__contact-text
    //     padding: 0
  &__contact-icon
    float: left
    position: relative
    // top: -3px
    &.icon-city
      font-size: 20px
    &.icon-clocks2
      font-size: 19px
    &.icon-envelope
      font-size: 13px
      position: relative
      top: 2px
  &__contact-text
    padding-left: 30px
    margin: 14px 0

.footer-logo
  &__image

.footer-menu
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  max-width: 450px
  list-style-type: none
  margin: 0 auto
  padding: 0
  &__item
    &-link
      font-weight: bold
      font-size: 20px
      margin-bottom: 37px
      display: block
  &__submenu
    list-style-type: none
    margin: 0
    padding: 0
    &-item
      margin-bottom: 5px
      &-link

.footer-phone
  margin-top: 25px
  &__link
    font-weight: bold
    font-size: 20px

.footer-social
  &__links
    display: flex
    align-items: center
  &__icon
    font-size: 32px
  &__title
    margin: 5px 0

.footer-payment
  display: flex
  flex-direction: column
  margin-top: 10px
  // align-items: flex-end
  // @include media-breakpoint-down(sm)
  //   align-items: flex-start
  &__title
    margin: 0
  &__items
    display: inline-flex
    align-items: center
    justify-content: space-between
    width: 220px
  &__item
    font-size: 20px
    &.icon-card-visa
      font-size: 20px
    &.icon-card-mastercard
      font-size: 46px
    &.icon-card-mir
      font-size: 18px

.footer-copyright
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(358.77deg, #FFC700 12.56%, #FFE300 72.49%), #C4C4C4
  height: 55px
  &__text
    font-weight: 600
    font-size: 11px
    text-align: center
    margin: 0
