.ifort-filters
  background: #FFFFFF
  box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.08)
  border-radius: 15px
  padding: 10px 20px 30px 20px

.ifort-filter-item
  &:not(:last-of-type)
    margin-bottom: 17px
    &:after
      content: ''
      display: block
      height: 1px
      background-color: #E2E2E2
      margin-top: 16px
  &.hidden
    .ifort-filter-header__arrow
      transform: rotate(90deg)

.ifort-filter-header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px
  cursor: pointer
  &__title
    font-weight: bold
    font-size: 15px
  &__arrow
    transform: rotate(-90deg)
    font-size: 13px
    fill: $orange-color
    transition: transform .5s ease

.ifort-filter-options
  &__item
    display: block
    position: relative
    cursor: pointer
    padding-left: 20px
    &:hover
      .ifort-filter-options__checkmark
        border-color: $orange-color
    &:not(:last-of-type)
      margin-bottom: 10px
  &__checkbox
    opacity: 0
    position: absolute
    &:checked ~ .ifort-filter-options__checkmark
      border-color: $orange-color
    &:checked ~ .ifort-filter-options__checkmark:after
      opacity: 1
      top: -5px
  &__checkmark
    position: absolute
    top: 2px
    left: 0
    width: 12px
    height: 12px
    background: #fff
    border: 1px solid #C6C6C6
    box-sizing: border-box
    border-radius: 2px
    transition: all .25s ease
    &::after
      content: ''
      display: block
      opacity: 0
      width: 14px
      height: 14px
      position: relative
      top: -7px
      left: -1px
      background: url(../images/checkmark.svg) 0 50% no-repeat
      transition: all .25s ease

.ifort-filter-range-fields
  display: flex
  // justify-content: space-between
  margin-bottom: 20px
  &__item
    position: relative
    width: 116px
    &:first-of-type
      margin-right: 14px
    &-text
      position: absolute
      top: 12px
      left: 10px
      color: #ADADAD
    &-input
      width: 100%
      height: 40px
      border: 1px solid #E2E2E2
      box-sizing: border-box
      border-radius: 2px
      padding-left: 35px

.ifort-filter-range-slider
  height: 4px !important
  border: 0 !important
  .noUi-connects
    background: #DCDCDC
  .noUi-connect
    background: $orange-color
  .noUi-handle
    width: 16px
    height: 16px
    background: #FCB316
    border: 0
    box-shadow: none
    outline: none
    right: -8px !important
    border-radius: 50%
    cursor: pointer
    &::before,
    &::after
      display: none

.ifort-filters-controls
  display: flex
  margin-top: 25px
  &__item
    padding: 15px 23px
    &:first-of-type
      margin-right: 12px
