.promo-sale-block
  &__header
    display: flex
    justify-content: space-between
    align-items: center
  &__see-all
    display: flex
    align-items: center
    text-decoration: underline
    color: $orange-color
    &:hover
      .icon-ifort-arrow
        transform: rotate(-360deg)
        transition: all .5s ease-out
    .icon-ifort-arrow
      font-size: 10px
      margin-left: 5px
