.catalog-products-main-area
  display: flex
  &__left-block
    width: 286px
    height: 100vh
    // background-color: red
    margin-right: 15px
  &__right-block
    flex-grow: 1
    height: 100vh
    background-color: yellow
