@import '../../base/smart-grid'

.main-advantages
  &-wrap
    +row-flex()
    justify-content: center
  &__item
    +col()
    +size(2.4)
    +size-md(4)
    +size-sm(12)
    display: flex
    align-items: center
    margin-bottom: 10px
    &-icon
      margin-right: 10px
      +sm(min-width, 65px)
